<link href="css/events.css" type="text/css" rel="stylesheet">

<div class="page container">

  <h1>
    Here are the current events happening!
  </h1>

  <div class="col-md-2">

  </div>

  <div class="eventList col-md-8">
    {{#each events}}
      <div class="event container">
        <div class="col-md-3">
          Event: {{this.name}}
          <br>
          Organized by: {{this.creator.username}}
          <br>
          Brief Description: {{this.desc}}
        </div>

        <div class="col-md-9" style="text-align: left;">
          <ul>
            {{#each this.attendees}}
              <li>
                Participant: {{this.user.username}} | Raffle Number: {{this.number}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="col-md-2">

  </div>
</div>
